body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: .024em;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: left;
  line-height: 1;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav,
footer, header {
  background-color: #252A34;
  color: #FFFFFF;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-right: 2%;
  height: 50px;
  border-bottom: 1px solid #FF6482;
  text-align: right;
}

footer {
  height: 50px;
  text-align: center;
}

.hamburger {
  font-size: 24px;
}

.page-link {
  display: none;
}

header, section {
  min-height: 100vh;
}

.header-content {
  margin: 0 8%;
}

.section-content {
  border: 3px solid pink;
  margin: 0 8%;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 4em;
  font-weight: 600;
}

h2, h4 {
  font-size: 3em;
  color: #9AAFD9;
}

h3 {
  color: #FF6482;
  font-weight: normal;
}

.section-arrow-down {
  display: none;
}

.fa-arrow-down:before {
  display: inline-block;
  content: "\f063";
  color: #9AAFD9;
  border: 1px solid #9AAFD9;
  border-radius: 50%;
  padding: 1em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  max-width: 1200px;
  align-items: center;
}

.about-desc {
  line-height: 1.25;
  max-width: 600px;
  margin: 0 20px;
}

.about-desc p {
  margin: 0 0 1.6em;
}

img {
  border-radius: 50%;
  max-width: 50%;
  margin: 0 20px;
}

.project-link {
  margin: 0 10px;
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .page-link {
    display: inline-block;
    margin: 0 1.25vw;
  }

  .active {
    color: #FF6482;
  }
}

@media screen and (min-width: 200px) and (min-height: 360px) {
  .section-arrow-down {
    width: 100%;
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .about-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

@media (max-width: 64em) {
  .title {
    font-size: 3.6em;
  }
  .subtitle {
    font-size: 2.8em;
  }
}

@media (max-width: 48em) {
  .title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 2.4em;
  }
}

@media (max-width: 36em) {
  .title {
    font-size: 2.4em;
  }
  .subtitle {
    font-size: 2em;
  }
}

@media (max-width: 24em) {
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.6em;
  }
  .fa-arrow-down:before {
    font-size: 0.75em;
  }
}
