* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: .024em;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #545456;
  text-align: left;
  line-height: 1;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav,
footer, 
header {
  background-color: #1C1C1E;
  color: #FFFFFF;
}

.link {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-right: 2%;
  height: 50px;
  border-bottom: 1px solid #FF375F;
}

.nav-links {
  background-color: #495266;
  height: 200px;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: stretch;
  text-align: center;
}

.invisible {
  display: none;
}

.hamburger {
  align-self: flex-end;
  font-size: 24px;
}

.page-link {
  display: inline-block;
  margin: 0 1.25vw;
}

.active {
  color: #FF375F;
}

.sidebar {
  display: none;
}

.sidebar:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100px;
  position: relative;
  background-color: #9AAFD9;
  margin: 0 auto;
}

.side-link .fa:before,
.footer-link .fa:before {
  font-size: 1.5em;
}

.side-link {
  margin-bottom: 20px;
}

header, 
section {
  min-height: 100vh;
}

.header-container {
  align-self: stretch;
  margin: 0 8% 4%;
}

.header-content {
  margin: 0 8%;
  width: 80vw;
  max-width: 1000px;
}

h1,
h2,
h3 {
  margin-left: 20px;
  margin-right: 20px;
}

.section-content {
  margin: 0 8%;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 4em;
  font-weight: 600;
}

h2 {
  font-size: 3em;
  color: #9AAFD9;
}

h3 {
  color: #FF375F;
  font-weight: normal;
}

h4 {
  font-size: 3em;
  color: #7891C2;
  text-align: center;
}

h5 {
  color: #D9002B;
  font-size: 1.2em;
  font-weight: normal;
}

ul {
  list-style: none;
}

.arrow-down-link {
  display: none;
  margin-bottom: 2%;
}

.fa:before {
  display: inline-block;
  color: #9AAFD9;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.fa-arrow-down:before {
  content: "\f063";
  border: 1px solid #9AAFD9;
  border-radius: 50%;
  padding: 1em;
}

.fa-github:before {
  content: "\f09b";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-external-link-alt:before {
  content: "\f35d";
}

.about-content {
  width: 80vw;
  max-width: 1000px;
}

.about-left, 
.contact-content p {
  line-height: 1.5;
  max-width: 560px;
  margin: 0 20px;
}

.about-left p {
  margin: 0 0 1.6em;
}

.about-right {
  align-self: center;
  margin: 0 20px 20px;
  width: auto;
  max-width: 50%;
  align-items: center;
}

.about-img {
  box-shadow: 0px 4px 8px 6px #D8D8DC;
  border-radius: 50%;
  max-width: 100%;
  margin-top: 2em;
}

.about-right p {
  background-color: #D8D8DC;
  width: 300px;
  max-width: 100%;
  padding: 10px;
}

.block-title {
  text-align: center;
  align-self: center;
}

.block-title:before, 
.block-title:after {
  content: "";
  display: inline-block;
  width: 12%;
  height: 1px;
  position: relative;
  top: -0.3em;
  background-color: #D9002B;
}

.block-title:before {
  margin-right: 0.5em;
}

.block-title:after {
  margin-left: 0.5em;
}

.tech-skills {
  width: auto;
  justify-content: flex-start;
  margin: 0;
}

.skill {
  position: relative;
  left: -20px;
}

.skill::before {
  content: "▹";
  color: #D9002B;
  position: absolute;
  left: -20px;
}

.portfolio-content {
  width: calc(80vw - 40px);
  max-width: 1000px;
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-info div {
  margin: 5px 0;
}

.project-img {
  width: 100%;
  max-width: 560px;
  border: 1px solid #9AAFD9;
  padding: 8px;
  position: relative;
  object-fit: cover;
  object-position: center center;
}

.project-info {
  width: 90%;
  max-width: 500px;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.project-link,
.project-tech {
  margin: 0 10px 0 10px;
}
  
.project-link .fa:before {
  font-size: 1.2em;
}

.project-name h5 {
  font-weight: bold;
  margin: 0;
}

.project-desc {
  line-height: 1.5;
  background-color: #DBE2F2;
  text-align: left;
  padding: 20px;
  box-shadow: 0px 10px 30px -15px rgba(28, 28, 30, 0.7);
}

.project-desc em {
  font-size: 0.9em;
}

.project-tech {
  font-size: 0.85em;
  display: inline-block;
  line-height: 1.5;
  color: #D9002B;
}

.bottom-section {
  margin: 15vh 8% 35vh;
  min-height: max-content;
}

.contact-content {
  align-items: center;
  text-align: center;
}

.contact-link {
  border: 1px solid #D9002B;
  border-radius: 5px;
  color: #D9002B;
  text-decoration: none;
  margin-top: 20px;
  padding: 15px 30px;
}

footer {
  height: 100px;
  text-align: center;
  font-size: 0.9em;
}

.footer-link {
  margin: 0 5px;
}

footer p {
  margin: 15px 0 0;
}

.link:hover {
  cursor: pointer;
}

.page-link:hover {
  color: #FF375F;
}

.arrow-down-link:hover .fa:before {
  background-color: #9AAFD9;
  color: #FFFFFF;
}

.side-link:hover .fa:before,
.footer-link:hover .fa:before,
.project-link:hover .fa:before {
  color: #FF375F;
  transform: translateY(-2px);
}

.contact-link:hover {
  background-color: #D9002B;
  color: #FFFFFF;
}

@media screen and (min-width: 200px) and (min-height: 360px) {
  .arrow-down-link {
    align-self: center;
    position: absolute;
    bottom: 16px;
    display: inherit;
  }
}

@media screen and (min-width: 320px) {
  .tech-block {
    flex-direction: row;
  }
  .tech-skills {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
  .nav-links {
    background-color: #1C1C1E;
    position: static;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .sidebar {
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 0;
  }
  .footer-links {
    display: none;
  }
  footer p {
    margin: 0;
  }
  .portfolio-content {
    flex-direction: row;
  }
  .project-info {
    margin: 0;
  }
  .project-info div {
    margin: 10px 0;
  }
  .project-img {
    width: 56%;
    margin: 0 -6% 0 0;
  }
  .project-info {
    width: 50%;
    align-items: flex-end;
  }  
  .project-link,
  .project-tech {
    margin: 0 0 0 20px;
  }
  .portfolio-content:nth-child(odd) .project-img {
    left: 50%;
    margin: 0 0 0 -6%;
  }
  .portfolio-content:nth-child(odd) .project-info {
    left: -50%;
    align-items: flex-start;
  }
  .portfolio-content:nth-child(odd) .project-link,
  .portfolio-content:nth-child(odd) .project-tech {
    margin: 0 20px 0 0;
  }
  .portfolio-content:nth-child(even) .project-name,
  .portfolio-content:nth-child(even) .project-desc,
  .portfolio-content:nth-child(even) .project-tech-block {
    text-align: right;
  }
}

@media screen and (min-width: 800px) {
  .about-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-right {
    align-self: flex-start;
    max-width: 40%;
  }
  .about-img {
    margin-top: 0;
  }
}

@media (max-width: 64em) {
  .title {
    font-size: 3.6em;
  }
  .subtitle, .page-title {
    font-size: 2.8em;
  }
}

@media (max-width: 48em) {
  .title {
    font-size: 3em;
  }
  .subtitle, .page-title {
    font-size: 2.4em;
  }
}

@media (max-width: 36em) {
  .title {
    font-size: 2.4em;
  }
  .subtitle, .page-title {
    font-size: 2em;
  }
}

@media (max-width: 24em) {
  .title {
    font-size: 2em;
  }
  .subtitle, .page-title {
    font-size: 1.6em;
  }
  .fa-arrow-down:before {
    font-size: 0.75em;
  }
  .block-title, .project-name h5 {
    font-size: 1em;
  }
  .project-desc {
    font-size: 0.9em;
  }
  .skill, .project-tech {
    font-size: 0.8em;
  }
}
